[class$="file-explorer"]{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: rgb(37, 37, 38);
    color: #d6cbcb;
    .list{
        list-style-type: none;
        .item{
            cursor: pointer;
            &>.list{
                display: none;
            }
            &.expanded>.list{
                display: block;
            }
            &.folder{
                // list-style-image: url('../images/arrow.png');
                item{
                    list-style-type: none;
                }
            }
        }
    }
}