.file-explorer{
    
    font-family: 'Roboto', sans-serif;
    color: #d6cbcb;
    background-color: #252526;
    font-size: 13px;
    line-height: 22px;
    max-width:250px;
    
    &>ul{
        //applies only on the top-level list
        margin-left: 20px;
    }
    
    li{
        margin-left:20px;
        cursor: pointer;
        ul{
            //by default all lists are collapsed
            display: none;
        }
        &.folder{
            list-style-image: url('../images/collapsed-folder.png');
            &.expanded{
                list-style-image: url('../images/expanded-folder.png');
                & > ul{
                    display: block;
                }
            }
        }
    }

}